
body {
    background-image: url('/sistema_solar/contenido/imagenes/espacio.jpg');
    background-size: cover;                /* La imagen cubre toda el área del fondo */
    background-position: center;           /* Centra la imagen de fondo */
    background-repeat: no-repeat;          /* Evita que la imagen se repita */
    margin: 0;                             /* Elimina el margen externo */
    font-family: Arial, sans-serif;
    color: white;
}
/* Diseño del boton */
a {
    padding: 10px 20px;                    /* Espacio interno alrededor del texto */
    font-size: 16px;                       /* Tamaño de fuente para el botón */
    color: #000000;
    background-color: #ffffff;           /* Fondo blanco para el botón */
    border-radius: 5px;                    /* Bordes redondeados */
    cursor: pointer;                       /* Cambia el cursor a un puntero cuando se pasa sobre el botón */
    text-decoration: none; 
}

h2, h3{
    font-family: 'Courier New', Courier, monospace;
    color: #ff9900;
}