body {
    font-family: 'Arial', sans-serif;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f2f2f2;
}

button {
    padding: 20px;
    font-size: 1.5em;
    border: none;
    border-radius: 20px;
    background-color: #444;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
}
