.vietnam{background:#da251d;position:relative}
/* background: color de fondo rojo
    posicion relativa */
.vietnam:before{position:absolute;content:"★";left:0;margin-left:auto;right:0;margin-right:auto;text-align:center;color:#ff0;font-size:64px;top:14px
    }
    /* content: "★" para meter una estrella
    color de la estrella
    font-size para el tamaño de la estrella
    top para desplazar la estrella hacia arriba */

.siria{background:linear-gradient(180deg,#ce1126 33.33333%,#fff 33.33333%,#fff 66.66667%,#000 66.66667%);position:relative}
.siria:before{position:absolute;content:"★      ★";left:0;margin-left:auto;right:0;margin-right:auto;text-align:center;color:#007a3d;font-size:30px;top:50px
}
.somalia{background:#4189dd;position:relative}
.somalia:before{position:absolute;content:"★";left:0;margin-left:auto;right:0;margin-right:auto;text-align:center;color:#fff;font-size:44px;top:24px
}
.senegal{background:linear-gradient(90deg,#00853f 33.33333%,#fdef42 33.33333%,#fdef42 66.66667%,#e31b23 66.66667%);position:relative}
.senegal:before{position:absolute;content:"★";left:0;margin-left:auto;right:0;margin-right:auto;text-align:center;color:#00853f;font-size:36px;top:30%
}
.panama{background:linear-gradient(90deg,#005293 50%,transparent 0),linear-gradient(#d21034 50%,transparent 0),#fff;position:relative}
.panama:after,.panama:before{position:absolute;content:"★";box-sizing:border-box;background:#fff;font-size:32px;padding-left:15%;padding-top:4%;width:98px;height:73px}
.panama:before{color:#005293}
.panama:after{right:0;bottom:0;color:#d21034
    /* background utilizando dos gradiantes para los colores de las banderas */
    /* insertamos dos estrellas enn este caso una alante y otra detras */
    /* position absolute  para colocarlo en la esquina*/
}

.ghana{background:linear-gradient(180deg,#ce1126 33.33333%,#fcd116 33.33333%,#fcd116 66.66667%,#006b3f 66.66667%);position:relative}
.ghana:before{position:absolute;content:"★";left:0;margin-left:auto;right:0;margin-right:auto;color:#000;text-align:center;font-size:40px;top:calc(50% - 27px)}

