.filandia{background:linear-gradient(180deg,transparent 35%,#003580 0,#003580 60%,transparent 0),
    linear-gradient(90deg,transparent 30%,#003580 0,#003480 45%,transparent 0),#fff
}

.dinamarca{background:linear-gradient(180deg,transparent 35%,#ffffff 0,#ffffff 60%,transparent 0),
    linear-gradient(90deg,transparent 30%,#ffffff 0,#ffffff 45%,transparent 0),#ff0000
}

.noruega{background:linear-gradient(180deg,transparent 43%,#002868 0,#002868 54%,transparent 0),
    linear-gradient(90deg,transparent 28%,#002868 0,#002868 37%,transparent 0),
        linear-gradient(90deg,transparent 25%,#fff 0,#fff 40%,transparent 0),linear-gradient(180deg,transparent 38%,#fff 0,#fff 59%,transparent 0),#ef2b2d
    }

.suiza{background:linear-gradient(180deg,transparent 33.33333%,#fff 33.33333%,#fff 66.66667%,transparent 0),
    linear-gradient(90deg,transparent 33.33333%,#fff 33.33333%,#fff 66.66667%,transparent 0),red;background-size:80px 80px;background-repeat:no-repeat;background-position:50px 20px
}
.benin{background:linear-gradient(90deg,#008751,#008751 40%,transparent 0,transparent),
    linear-gradient(180deg,#fcd116,#fcd116 50%,#e8112d 0,#e8112d)
}

.chile{background:linear-gradient(180deg,#fff,#fff 50%,#d52b1e 0,#d52b1e);position:relative}
.chile:after{position:absolute;content:"★";box-sizing:border-box;color:#fff;font-size:26px;text-align:center;background:#0039a6;height:75px;width:65px;left:0;padding-top:10px
}


.suecia{background:linear-gradient(90deg,transparent 30%,#fecc00 0,#fecc00 45%,transparent 0),linear-gradient(180deg,transparent 38%,#fecc00 0,#fecc00 59%,transparent 0),#006aa7
}

.arabiasaudi{background:linear-gradient(90deg,red 30%,transparent 0),
    linear-gradient(180deg,#00732f 33.33333%,#fff 33.33333%,#fff 66.66667%,#000 66.66667%)
}

.madagascar{background:linear-gradient(90deg,#fff 30%,transparent 0),
    linear-gradient(180deg,#fc3d32 50%,#007e3a 0)
}

.grecia{background-image:repeating-linear-gradient(180deg,#0d5eaf,#0d5eaf 13.33333px,#fff 13.33333px,#fff 26.66667px);position:relative}
.grecia:before{position:absolute;content:"";width:66.66667px;height:66.66667px;background:linear-gradient(180deg,transparent 26.66667px,#fff 26.66667px,#fff 40px,transparent 40px),linear-gradient(90deg,transparent 26.66667px,#fff 26.66667px,#fff 40px,transparent 40px),#0d5eaf
}