
.turquia{background:radial-gradient(77px at 40% 50%,#e30a17 35%,transparent 0),
        radial-gradient(90px at 36% 50%,#fff 30%,#fff 36%,transparent 0),#e30a17;position:relative}
.turquia:before{position:absolute;content:"★";left:0;margin-left:auto;right:0;margin-right:auto;font-size:28px;color:#fff;text-align:center;top:39px;left:28px;transform:rotate(45deg)
}

.pakistan{background:radial-gradient(90px at 71% 42%,#01411c,#01411c 35%,transparent 0,transparent 100%),
        radial-gradient(100px at 65% 50%,#fff,#fff 35%,transparent 0,transparent 100%),
        linear-gradient(90deg,#fff 30%,#01411c 0);position:relative}
.pakistan:before{position:absolute;content:"★";color:#fff;transform:rotate(40deg);font-size:24px;right:30px;top:25px
}

.maldivas{border:30px solid #d21034;background:radial-gradient(55px at 55% 50%,#007e3a 0,#007e3a 35%,transparent 0,transparent 100%),
    radial-gradient(60px at 50% 50%,#fff 0,#fff 35%,transparent 0,transparent 100%),#007e3a
}
.algeria{background:linear-gradient(90deg,#006232,#006232 50%,#fff 0,#fff);position:relative}
.algeria:before{content:"";border-radius:50%;left:0;right:0;width:50px;height:50px;background:transparent;box-shadow:-9px 0 0 8px #d21034;top:35px;right:-10px}
.algeria:after,.algeria:before{position:absolute;margin-left:auto;margin-right:auto}
.algeria:after{content:"★";left:0;right:0;color:#d21034;font-size:2em;transform:rotate(20deg);top:calc(50% - 12px);left:calc(50% - 5px)}
