body {
    font-family: Arial, sans-serif;
    display: grid;
    min-height: 100vh; /* Asegura que el body ocupe toda la altura de la ventana */
    text-align: center;
    padding: 20px;
    line-height: 1.6; /* Altura de las línea del texto */
}

.header {
    text-align: center;
    margin-bottom: 20px;
}

.header h1 {
    font-size: 24px;
    color: #002c54;
    margin-bottom: 10px;
}

.header p {
    font-size: 16px;
    color: #333;
    line-height: 1.6;
}

.container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto;
    gap: 5px;
    margin: 0 auto; /* Alinea el contenedor horizontalmente */
}

.diseñoazul {
    display: grid;
    background-color: #4e8df5;
    color: rgb(0, 0, 0);
    font-weight: bold;   
    align-items: center;
    justify-content: center;
    /*Altura columnas*/
    height: 100px;
}

.diseñoblanco {
    display: grid;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    font-weight: bold;   
    align-items: center;
    justify-content: center;
    /*Altura columnas*/
    height: 100px;
}

/* PRIMERA FILA: TEXTO */
.cabecera {
    background-color: #ffffff;
    font-size: 26px;
    font-weight: bold;
    grid-column: span 12;
    text-align: center;
    /*Altura columnas*/
    height: 90px;
}

.cabecera p {
    color: black;
    font-size: 16px;
    font-weight: normal;
    text-align: center;
}

/* SEGUNDA FILA: NÚMEROS */
.numeros {
    background-color: white;
    color: black;
    display: grid;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 24px;
    padding: 20px;
}

/* TERCERA FILA */
.primerafila {
    /*División filas*/
    grid-column: span 6;
}

/* CUARTA FILA */
.segundafila {
    /*División filas*/
    grid-column: span 4; 
}

/* QUINTA FILA */
.cuarto {
    /*División filas*/
    grid-column: span 3; 
}

/* SEXTA FILA */
.sexto {
    /*División filas*/
    grid-column: span 2;
}

.division1 {
    /*División filas*/
    grid-column: span 1; 
}

.division2 {
    /*División filas*/
    grid-column: span 2; 
}

.division3 {
    /*Altura filas*/
    height: 100px;
    /*División filas*/
    grid-column: span 3; 
}

.division4 {
    grid-column: span 4; 
}

