
body {
    background-image: url('/sistema_solar/contenido/imagenes/espacio.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
    font-family: Arial, sans-serif;
    color: white;
}