
body {
    background-image: url('/sistema_solar/contenido/imagenes/photo-1467810160588-c86c0deb5d16.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
    font-family: Arial, sans-serif;
    color: white;
}