body {
    font-family: Arial, sans-serif;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #5a3000;
    padding: 14px 20px;
    color: white;
}

header h1 {
    font-size: 24px;
    color: white;
    text-align: center;
    flex: 1;
}

nav, a {
    display: flex;
    justify-content: center;
    gap: 20px;
    background-color: #ffc400;
    padding: 5px 0;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 5px;
   
}

footer {
    background-color: #ffc400;
    color: #fff;
    padding: 30px;
    text-align: center;
  }

.container {
    width: 1000px;
    height: 1010px;
    margin: auto;
}

.casilla {
    width: 100px;
    height: 100px;
    margin: 0px;
    float: left;
}


img{
    width: 100px;
    height: 100px;
}

.blanca {
    background-image: url(/ajedrez/contenido/imagenes/tablero3/blanco.png);
    background-size: cover; 
}

.negra {
    background-image: url(/ajedrez/contenido/imagenes/tablero3/negro.png);
    background-size: cover; 
}

.horizontal{
    color: #e2cbac;
    background-image: url(/ajedrez/contenido/imagenes/tablero3/horizontal.png);
    background-size: cover;
    font-size: 30px;
    text-align: center;
    line-height: 100px; 
}

.vertical{
    color: #e2cbac;
    background-image: url(/ajedrez/contenido/imagenes/tablero3/vertical.png);
    background-size: cover; 
    font-size: 30px;
    text-align: center; 
    line-height: 100px;
}

.esquina1{
    background-image: url(/ajedrez/contenido/imagenes/tablero3/arribaIzquierda.png);
    background-size: cover; 
}

.esquina2{
    background-image: url(/ajedrez/contenido/imagenes/tablero3/arribaDerecha.png);
    background-size: cover; 
}

.esquina3{
    background-image: url(/ajedrez/contenido/imagenes/tablero3/abajoIzquierda.png);
    background-size: cover; 
}

.esquina4{
    background-image: url(/ajedrez/contenido/imagenes/tablero3/abajoDerecha.png);
    background-size: cover; 
}

.clear {
    clear: left;
}

