body {
    font-family: Arial, sans-serif;
    margin: 50px;
    background-color: #ffffff;
    text-align: center;
}
h1 {
    font-family: Arial, sans-serif;
    color: #333;
}
a {
    display: block;
    margin: 10px 0;
    padding: 10px;
    background-color: #e2119c;
    color: white;
    text-decoration: none; 
}
