/* Sirve para cambiar el cuerpo de la pagina tanto el tipo de letra, el color de fondo, y alineación del texto */
body {
    font-family: Arial, sans-serif;   
    margin: 50px;
    background-color: #b3b0b0;
    text-align: center;
/* Color del texto  y tipo de fuente */
}
h1 {
    font-family: Arial, sans-serif;
    color: #000000;
/* Diseño de los enlaces a los archivos */
}
a {
    padding: 10px 20px;
    font-size: 16px;
    color: #000000;
    background-color: #ffffff; 
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none; 
}